obj
bin
deploy
deploy/*
src/server/.vs/*
_NCrunch_Server
_NCrunch_*
_ReSharper.*
*.ncrunchproject.user
*.ncrunchsolution.user
*.csproj.user
*.resharper.user
*.ReSharper.user
*.teamcity.user
*.TeamCity.user
*.resharper
*.DotSettings.user
*.dotsettings.user
*.ncrunchproject
*.ncrunchsolution
*.orig
*.cache
.idea/*
.idea/
*.suo
.vs/
~$*
packages
packages/*